/* body{
    font-family: 'Montserrat', sans-serif !important;
} */


.content-col{
    padding:3%;
    font-size: 18px;
}
  
.ant-table-tbody > tr > td {
    font-size: 18px;
}

.container{
    background-color: #eff6ff;
    border-radius: 9px;
    padding:2%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container1{
    background-color: #f6f4fe;
    border-radius: 9px;
    padding:3%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    height:30vh;
    font-size: 1.1rem;
}

.container2{
    background-color: #b8ccf3;
    border-radius: 9px;
    padding:2%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.desc{
    color: #10478b;
}

.desc1{
    color: #672c97;
}

.number-display, .number-display1, .character, .pinyin{
    text-align: center;
}

.number-display{
    color:#1a60b6;
}

.number-display1{
    color:#5b2a8c;
}

.containerculture{
    background: linear-gradient(to right, #fff5f5, #ffecec);
    border-radius: 9px;
    border: 2px solid #f68774;
    padding:2%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.custombtn{
    margin-right:10px;
    border-radius: 30px;
    background-color: #383838;
    color:white;
    width:180px;
    height:50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.feature-icon {
  padding-top: 5%;
  font-size: 40px;  
  display: block;
  margin: 0 auto 12px;
}